#background{
    background-image: url('image_20.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
    /*position:fixed;*/
    
}

.VertexColor{
    color:#EA297B !important;
}


/*.zoom{
    transition:0.5s;
}
.zoom:hover{
    transform:scale(1.3);
}*/

.fondo2{
    background-color:white;
}

.upper{
    text-transform: uppercase;
}

.fondo3{
    background-color:white;
}


.imgdesktop{
    /*background-image: url('images/vertex/00Isotipo_VertexStudio_Version2_4.png');*/
    background-image: url('images/vertex/isologo-min.png');
    background-repeat: no-repeat;
    background-position: center center;
    /*width: 50%;
    height:50%;
    
    position:  relative !important;
    background-size: contain;
    margin :  0% !important;
    display: inline-block;
    max-width: 200px;
    max-height: 200px;*/
}

.img1{
    width: 50% !important;
    height: 100% !important;
    top: 25% !important;
      
     float :right !important;
     
  }

  .Banner{
    background-color: #eee !important;
  }

  .background{
    background-color: #1b191d ;
  }

  .imgVertex{
    width: 30%;
}
.imgArrow{
    width: 5%;
}
.txtBn{
    font-size: 20px;
}


  @media (max-width: 1000px){
      .imgVertex{
        width: 70%;
      }
      .imgArrow{
        width: 15%;
      }


  }

  @media only screen and (max-width: 800px) {
    .posicion{
        position: relative !important;
    }
  }

.technologies-container {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    flex-flow: row wrap; 
    margin-bottom: 25px;
}

.technologies-video {
    max-width: 800px;
    width:100%;
    display:flex;
    justify-content: center;
    padding: 12px;
}

.technologies-logos {
    margin-left: 2px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.technologies-logos img {
    width: 20%;
    min-width: 64px;
}

@media (max-width: 1200px) {
    .technologies-logos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;
    }
}