@font-face{
    font-family: "Roboto Slab";
    src:url("Fonts/Roboto_Slab/RobotoSlab-Light.ttf")
}

@font-face{
    font-family: NanumGothic-Regular;
    src:url("Fonts/Nanum_Gothic/NanumGothic-Regular.ttf")
}

@font-face{
    font-family: Cairo;
    src:url("Fonts/Cairo/Cairo-Regular.ttf")
}

@font-face{
    font-family: Engravers;
    src:url("Fonts/engravers-mt/ENGR.ttf")
}

@font-face{
    font-family: EngraversGothic;
    src:url("Fonts/EngraversGothicRegular/EngraversGothicRegular.otf")
}


.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
  }


.NwFont{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}
.MainVideo{
    height:100vh;
    width:100%;
  }

.MainVideoDiv{
    width: 100%;
    transform: translate(50% 50%);
    position: absolute;
    padding: 35%  0 0 0 ;
    text-align: center;

    

}

.MainVideoText{
    font-family: EngraversGothic;
    font-size: 48px;
    
    color: #EEE !important;
    text-transform: uppercase;
    letter-spacing: 30px; 
    z-index: 9999;
    position: relative;
    width: 100%;
    filter: hue-rotate(120deg);
    

}

.DivIframe{
    height:100vh;
    width:100%;
}



.EngineIcons{
font-size: 36px !important;
transition: 0.5s;
   
}
.fonts{

    display: inline;
    font-size: 24px;
    text-align: left !important;
    
}

.DivIconCenter{

    text-align: center !important;
}

.DivCenter{

    text-align: left;
}

.DivContainerIcons{

    padding: 30px 0 0 0 ;

}

.DivContainerlogo{

    padding: 20px 0 0 0 ;

}

.DesktopIcons{
    display: inline;
}
.MobileIcons{
    display: none ;
}

.DivThink{
    border-radius: 10px;
    border: rgb(52, 45, 54) solid 1px;
    background-color:rgb(52, 45, 54);
    padding: 12px 10px;
    margin: 10px 10px 0 10px;
    
}
.MarginDescription{
    margin: 40px 0 0 0 ;
}

.DivThink::after{
    content: '';
    position: absolute;
    bottom: 8px;
    left: 50%;
    width: 0;
    border-width: 14px 14px 0;
    border-top-width: 14px;
    border-right-width: 14px;
    border-bottom-width: 0px;
    border-left-width: 14px;
    border-style: solid;
    border-color: rgb(52, 45, 54) transparent;
    margin-left: -10px;
    margin-bottom: -20px;
}
.spacing{
    margin:0 0 30px 0 ;
}

.tittle{
    font-size:32px;
    color:#EA297B !important;
    font-weight:800;
    text-align: center;
    margin-bottom: 5px;
    line-height: 1.2; 
    text-transform: uppercase;
    letter-spacing: 12px;
    font-family: EngraversGothic !important;
}

.BoxTittle{

    padding-top: 30px;
}

.MarginImages{
    margin-bottom: 40px
}



.TxtMain{
    text-align: center;
    
    
    
}

.TxtBubble{
    line-height: 1.2 !important;
}
.skew{


}

.skew::after{
    content: '';
    
    transform: skew(0 , 20deg)
}


.padding_icons{
    padding: 45px 0 45px 0 ;
}

.TxtDescrpt{

    
    line-height: 1.2 !important;
}

.accent{
    color:aqua;
    font-weight: 600;
}



.bannerBottom{
    padding-bottom: 30px;
    
}

.RowTittle{
    background-color:#eee;
    padding: 10px 0 10px 0 ;
    margin: 20px 0 ;
}




.figcap{
    padding: 40px 0 0 0;
}


.EngineIcons:hover{

    color: aqua;
}
.appears{
    display: none;
}

.DivTextContainer{
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0px, 25%);
}

.rowRoy{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}


@media only screen and (max-width: 768px) {
    .fonts{

        display: inline;
        font-size: 24px;
        text-align: center !important;
  }

 

  .DesktopIcons{
      display: none;
  }
  .MobileIcons{
      display: inline;
  }
  .embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  
}

.DivThink{

    padding:10px;
    margin: 0px;
    
}

.embed-container {
    
    padding-bottom: 0%;
    
    
  }
  .fluid-width-video-wrapper{
      height:100%;
      padding-top: 56% !important;
  }

  .MainVideo{
    height:100%;
    
    
  }
  .DivIframe{
    height:30vh;
    width:100%;
}

.figcap{
    padding: 20px 0 20px 0;
}

}

.fluid-width-video-wrapper{
    height:100%;
    padding-top: 56% !important;
}

@media only screen and (max-width: 900px) {

   
    .appears{
        display: inline;
    }

}

